{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>All Tour Packages</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>All Tour Packages</h1>
        <a class="add-link" href="{% url 'add_package' %}">Add New Package</a>

        {% for pkg in packages %}
        <div class="package-card">
            <strong>{{ pkg.title }}</strong> - ₹{{ pkg.price }} ({{ pkg.duration }})<br>
            {{ pkg.description }}<br>
            Location: {{ pkg.location }}
            <div class="actions">
                <a href="{% url 'edit_package' pkg.id %}">Edit</a>
                <a href="{% url 'delete_package' pkg.id %}">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
